div.slider.slider_in_line.wow.fadeInRightBig
  mixin logos(logo)
    div
      img(src="img/"+logo alt="Logo")
  +logos('logo-1.png')
  +logos('logo-2.png')
  +logos('logo-3.png')
  +logos('logo-4.png')
  +logos('logo-5.png')
  +logos('logo-6.png')
  +logos('logo-1.png')
  +logos('logo-2.png')
  +logos('logo-3.png')
